##exportPattern("^[[:alpha:]]+")
export('GetSim')
export('PredTarget')
export ('PredMaxSim')
export('DoPWY')
export ('DoInteractExp')
export('DoInteractMutant')
export ('cor.test_trimmed_v0')
export ('errHandle')
export ('fdrCor')

import('DEGreport')
import('fgsea')
import('ggplot2')
import('ggpubr')
import('ggrepel')
import('grid')
import('gridExtra')
import('interactions')
import('parallel')
import('readxl')
import('reshape2')
import('statar')
import('stringb')
import('stringr')
import('tictoc')
import ('pROC')
importFrom(pROC, var)
importFrom(pROC, cov)
importFrom(pROC, smooth)
importFrom(stats, lm)
importFrom(stats, complete.cases)
importFrom(stats, cor)
importFrom(stats, na.omit)
importFrom(stats, p.adjust)
importFrom(stats, pnorm)
importFrom(stats, pt)


